<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RePopCraftingStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="RePopCrafting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <RePopCraftingStudio.Properties.Settings>
            <setting name="MainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="MainSplitterDistance" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="LeftSplitterDistance" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="LastItemFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="GameViewSplitterDistance" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="LastTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastExceptionDialogSize" serializeAs="String">
                <value>640, 320</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="ManifestViewSplitterDistance" serializeAs="String">
                <value>420</value>
            </setting>
            <setting name="LastSelectionTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecipeSingleBackColor" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="RecipeMultipleBackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="IngredientGatheredBackColor" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="IngredientCraftedBackColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="AgentGatheredBackColor" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="AgentCraftedBackColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="AgentComponentBackColor" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
        </RePopCraftingStudio.Properties.Settings>
        <RePopCrafting.Properties.Settings>
            <setting name="MainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="MainSplitterDistance" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="LeftSplitterDistance" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="LastItemFilter" serializeAs="String">
                <value/>
            </setting>
            <setting name="GameViewSplitterDistance" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="LastTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </RePopCrafting.Properties.Settings>
    </userSettings>
</configuration>
